<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sorting</title>
    <link rel="icon" href="Images/png.png" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="Js/angular.min.js" type="text/javascript"></script>
    <link href="css/stylemin.css" rel="stylesheet" type="text/css">
    <script src="Js/App.js" type="text/javascript"></script>
</head>

<body>
    <div class="container" ng-controller="sortingControl">
        <br>
        <div class="row">
            <div class="col-lg-4">
                <label>Displaying Rows</label>
                <input type="number" class="form-control col-lg-3" step="1" min="0" max="5" ng-model="rowLimit" />
            </div>
            <div class="col-lg-5">
                <label>Order By</label>
                <select ng-model="sortedList" class="form-control col-lg-4">
                    <option value="Name">By Name</option>
                    <option value="-Salary">By Salary</option>
                    <option value="+DateofBirth">By Date</option>
                    <option value="+Gender">By Gender</option>
                </select>
            </div>

            <div class="col-lg-3" style="margin-top: 3%">
                <input type="text" class="form-control" placeholder="Search Your Employee" ng-model="searchText" />
            </div>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
                <tr style="cursor:pointer;">
                    <th ng-click="sortData('Name')">Name
                        <div ng-class="getSortClass('Name')"></div>
                    </th>
                    <th ng-click="sortData('Salary')">Salary
                        <div ng-class="getSortClass('Salary')"></div>
                    </th>
                    <th ng-click="sortData('DateofBirth')">DateOfBirth
                        <div ng-class="getSortClass('DateofBirth')"></div>
                    </th>
                    <th ng-click="sortData('Gender')">Gender
                        <div ng-class="getSortClass('Gender')"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | orderBy:sortedList:reverseSort | limitTo:rowLimit | filter: searchText">
                    <td>{{employee.Name}}</td>
                    <td>{{employee.Salary | number}}</td>
                    <td>{{employee.DateofBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.Gender | lowercase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>